<div class="row">
  <div class="form">
    <form [formGroup]="sampleForm">
      <div class="card">
        <div class="card-heading">Sample Form</div>
        <div class="card-body">
          <div
            class="form-group"
            [ngClass]="{ 'text-danger': FormErros['firstName'] }"
          >
            <label>Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              (blur)="logValidator()"
            />
            <div class="" *ngIf="FormErros['firstName']">
              {{ FormErros["firstName"] }}
            </div>

          </div>

          <div
          class="form-group"
          [ngClass]="{ 'text-danger': FormErros['Email'] }"
         >
          <label>Email</label>
          <input
            type="text"
            formControlName="Email"
            class="form-control"
            (blur)="logValidator()"
          />
          <div class="" *ngIf="FormErros['Email']">
            {{ FormErros["Email"] }}
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="AddSkillButtonClick()">
            AddSkill
          </button>
        </div>
        <div formArrayName="Skill" *ngFor="let Skill of getSkillControls.controls; let i=index">
          <div [formGroupName]="i">
            <div class="form-group" [ngClass]="{'text-danger':Skill.get('MasterSkill')?.invalid&&
            Skill.get('MasterSkill')?.touched}">
              <label>Skill</label>
              <input type="text"
              [id]="'skill'+i"
               formControlName="MasterSkill" 
               class="form-control"
                name="MasterSkill"/>
                <div class="" *ngIf=" Skill.get('MasterSkill')?.errors?.['required']&& Skill.get('MasterSkill')?.touched">
                  This filed is required
                </div>
            </div>
            <button class="btn btn-danger" (click)="removeSkillButtonClick(i)">X</button>
          </div>
        <hr/>
        </div>
        <div class="card-footer">
            <button type="submit" [disabled]="!sampleForm.valid" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
